

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import "tailwindcss";

@theme {
  --color-br-text: oklch(95.61% 0.038 77.64);
  --color-br-background: oklch(22.35% 0.005 145.41);
  --color-brand: oklch(73.34% 0.205 138.31);
  --secondary: oklch(93.37% 0.144 135.46);
  --color-br-accent: oklch(84.38% 0.120 68.86);

  --color-br-text-50: oklch(97.37% 0.024 79.75);
  --color-br-text-100: oklch(94.82% 0.046 78.85);
  --color-br-text-200: oklch(89.73% 0.090 77.11);
  --color-br-text-300: oklch(85.17% 0.129 75.72);
  --color-br-text-400: oklch(80.86% 0.158 71.53);
  --color-br-text-500: oklch(77.20% 0.174 64.55);
  --color-br-text-600: oklch(65.36% 0.147 64.96);
  --color-br-text-700: oklch(53.16% 0.118 66.44);
  --color-br-text-800: oklch(40.00% 0.088 68.06);
  --color-br-text-900: oklch(25.87% 0.055 74.44);
  --color-br-text-950: oklch(17.90% 0.037 79.02);

  --color-br-background-50: oklch(96.31% 0.002 145.56);
  --color-br-background-100: oklch(92.48% 0.005 145.53);
  --color-br-background-200: oklch(84.71% 0.007 145.51);
  --color-br-background-300: oklch(76.87% 0.013 145.45);
  --color-br-background-400: oklch(68.71% 0.015 145.41);
  --color-br-background-500: oklch(60.43% 0.021 145.31);
  --color-br-background-600: oklch(51.48% 0.016 145.34);
  --color-br-background-700: oklch(42.26% 0.015 145.31);
  --color-br-background-800: oklch(32.36% 0.009 145.37);
  --color-br-background-900: oklch(21.77% 0.007 145.32);
  --color-br-background-950: oklch(15.75% 0.003 145.45);

  --color-brand-50: oklch(97.28% 0.023 137.24);
  --color-brand-100: oklch(94.58% 0.047 136.53);
  --color-brand-200: oklch(89.41% 0.094 136.25);
  --color-brand-300: oklch(84.21% 0.137 136.88);
  --color-brand-400: oklch(79.58% 0.178 137.26);
  --color-brand-500: oklch(75.29% 0.210 138.24);
  --color-brand-600: oklch(63.83% 0.176 138.10);
  --color-brand-700: oklch(51.78% 0.140 138.12);
  --color-brand-800: oklch(39.32% 0.103 137.76);
  --color-brand-900: oklch(25.40% 0.060 137.71);
  --color-brand-950: oklch(17.62% 0.034 134.93);

  --color-br-secondary-50: oklch(98.06% 0.038 134.58);
  --color-br-secondary-100: oklch(96.35% 0.075 134.59);
  --color-br-secondary-200: oklch(93.26% 0.147 135.21);
  --color-br-secondary-300: oklch(90.81% 0.210 136.13);
  --color-br-secondary-400: oklch(88.96% 0.256 137.63);
  --color-br-secondary-500: oklch(87.78% 0.280 139.50);
  --color-br-secondary-600: oklch(74.24% 0.236 139.36);
  --color-br-secondary-700: oklch(60.07% 0.189 139.01);
  --color-br-secondary-800: oklch(44.98% 0.140 138.49);
  --color-br-secondary-900: oklch(28.48% 0.086 136.94);
  --color-br-secondary-950: oklch(19.51% 0.056 134.34);

  --color-br-accent-50: oklch(96.98% 0.023 71.79);
  --color-br-accent-100: oklch(94.05% 0.044 70.53);
  --color-br-accent-200: oklch(88.39% 0.088 69.59);
  --color-br-accent-300: oklch(83.32% 0.129 68.39);
  --color-br-accent-400: oklch(78.56% 0.161 64.14);
  --color-br-accent-500: oklch(74.42% 0.181 56.46);
  --color-br-accent-600: oklch(63.14% 0.152 57.26);
  --color-br-accent-700: oklch(51.33% 0.122 58.58);
  --color-br-accent-800: oklch(38.60% 0.091 60.02);
  --color-br-accent-900: oklch(24.93% 0.056 65.91);
  --color-br-accent-950: oklch(17.63% 0.037 75.53);

  --font-title: "Passion One", sans-serif;

}

* {    
    margin: 0 !important;
    padding: 0 !important;
}


:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  padding: 0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  appearance: none;

  --border-radius: 1rem;

  /* --- COLOR SCHEME --- */
  --text: #040a0d;
  --text-soft: #163c4f;
  --background: #fafcfd;
  --primary: #479cc8;
  --secondary: #90c5e0;
  --accent: #ff8d7e;
}

/* --- TYPOGRAPHY --- */
a {
  font-weight: 500;
  color: var(--primary);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary);
}

body {
  background-color: var(--color-br-background);
}

/* --- BUTTONS --- */
.btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--text);
}
.btn:hover {
  background-color: var(--secondary);
  color: var(--text-soft);
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* CREATE THREAD */
.thread-form {
  margin: 1rem auto;
  background-color:color-mix(in srgb, var(--secondary), transparent 50%);
  width: 70vw;
  padding: 2rem;
  border-radius: var(--border-radius);
}

.thread-form h1 {
  font-size: 2rem;
  text-align: start;
  margin-bottom: 0;
}

.thread-info {
  justify-content: space-between;
  color: color-mix(in srgb, var(--text), transparent 50%);
  font-size: 0.8rem;
}

.thread-form .btn {
  background-color: var(--primary);
  padding: 1rem;
}

.btn-group .background-secondary {
  background-color: var(--secondary);
  border: 1px solid var(--primary);
}

.thread-form .btn-group {
 margin-top: 1.5rem;
}

/* USER */
.user-info {
  border-radius: var(--border-radius);
  padding: 0.5rem;
  align-items: center;
  max-width: fit-content;
  margin-top: 1rem;
}

.user-image {
  border-radius: 50%;
  max-width: 3rem;
}

svg.user-image {
  color: var(--primary);
  border: 1px solid var(--text-soft);
}

.user-info p {
  font-weight: 700;
  padding-left: 0.5rem;
  font-size: 0.9rem;
  color: var(--text-soft);
}

/* FORM */
.textarea-input{
  padding: 1rem;
  margin-bottom: 1rem;
  box-shadow: none;
  min-height: 100px;
  border-radius: var(--border-radius);
  border: 1px solid var(--text);
  resize: none;
  font-size: 1rem;
}

.form-input {
  border-radius: var(--border-radius);
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid var(--text);
}

.formlayout{
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 1rem;
  margin-block: 2rem 0.5rem;

}

.form-btn {
  max-width: 30%;
  align-self: flex-end;
}

/* COMMENT */
.comment-container {
  padding: 1.5rem;
  width: 50vw;
  margin: 2rem auto;
  border-radius: 1em;
}

.comment-content {
  margin-top: 0;
}


/* THREAD */
.container-post {
  padding: 1.5rem;
  width: 50vw;
  margin: 1rem auto;
  border-radius: 1em;
}

.container-post h1 {
  border-bottom: 1px solid var(--text);
  width: 100%;
  text-align: start;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}

.container-post p {
  margin: 0;
}




/* UTILITY */
.flex {
  display: flex;
}

.align-start {
  align-self: flex-start;
}

.align-end {
  align-self: flex-end;
}

.flex-col {
    flex-direction: column;
}

.background-primary {
  background-color: var(--primary);
}

.background-secondary {
  background-color: var(--secondary);
}

.background-gray-200 {
  background-color: oklch(94.827% 0.00756 260.887);
}